{{ define "main" }}
  {{ partial "header" . }}

<div class="card-columns">

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/en/a/af/Island.JPG"
            alt="Island">
          <div class="card-body">
            <h4 class="card-title">Island</h4>
            <h5 class="card-subtitle mb-2 text-muted">Aldous Huxley</h5>
            <p class="card-text">Fascinating work of utopian fiction detailing the account of a 
              shipwrecked journalist who finds himself on the island of Pala, where Buddhism, free and open sex, 
              and psychedelic drug use are the norm.<span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/41thjRxxz2L._SX329_BO1,204,203,200_.jpg"
            alt="Being Mortal">
          <div class="card-body">
            <h4 class="card-title">Being Mortal: Medicine and What Matters in the End</h4>
            <h5 class="card-subtitle mb-2 text-muted">Atul Gawande</h5>
            <p class="card-text">An important book about life and death in the modern era.  Awesome insights
              into how we can improve health care for the dying.<span
                class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <div class="card-header">
            <strong>Booklist:</strong>
          </div>
          <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">Reading is the next best thing to uploading programs to your brain matrix-style.</h5>
            <p class="card-text">This is a collection of books that have recently piqued my interest.  Please let me know what you're reading below! <span class="badge badge-success">&#10000; HIT THE BOOKS!</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/41ggi--prRL._SX329_BO1,204,203,200_.jpg"
            alt="Math Destruction">
          <div class="card-body">
            <h4 class="card-title">The Outlaw Ocean: Journeys Across the Last Untamed Frontier</h4>
            <h5 class="card-subtitle mb-2 text-muted">Ian Urbina</h5>
            <p class="card-text">An awesome collection of investigative journalism covering everything from rogue environmental vigilantes to fishing ships capitalizing on slave labor on the open seas.<span
                class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top"
            src="https://images-na.ssl-images-amazon.com/images/I/51HL0dOfXNL._SX329_BO1,204,203,200_.jpg"
            alt="Math Destruction">
          <div class="card-body">
            <h4 class="card-title">Why We Sleep</h4>
            <h5 class="card-subtitle mb-2 text-muted">Matthew Walker</h5>
            <p class="card-text">A compelling case for getting those 8 + hours each night.  Walker takes a look at a wide range of 
              health problems associated with lack of sleep, sleep disorders, the new science of dreams, and more.<span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41JKPNPcY0L._SX327_BO1,204,203,200_.jpg"
            alt="Math Destruction">
          <div class="card-body">
            <h4 class="card-title">The Gutenberg Galaxy: The Making of Typographic Man</h4>
            <h5 class="card-subtitle mb-2 text-muted">Marshall McLuhan</h5>
            <p class="card-text">This excellent book from 1962 analyzes the effects of the printed word and mass media on European culture and the human mind.<span class="badge badge-warning">&#10000; CONSIDER IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top"
            src="https://m.media-amazon.com/images/I/81-YGe81WoL._AC_UY218_ML3_.jpg"
            alt="Math Destruction">
          <div class="card-body">
            <h4 class="card-title">Ada's Algorith</h4>
            <h5 class="card-subtitle mb-2 text-muted">James Essinger</h5>
            <p class="card-text">Just started this one on Ada Lovelace, an English mathemetician whose work helped to usher in the digital age.  <span
                class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51eUw-v0X%2BL._SX329_BO1,204,203,200_.jpg" alt="Math Destruction">
          <div class="card-body">
            <h4 class="card-title">Weapons of Math Destruction</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Cathy O'Neil</h5>
            <p class="card-text">A quick read the explores a number of pertinent cases where reliance on big data and machine learning is creating negative feedback loops that increase socioeconomic inequality.<span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41nhzMWhbDL._SX320_BO1,204,203,200_.jpg" alt="Surveillence Capitalism">
          <div class="card-body">
            <h4 class="card-title">The Age of Surveillence Capitalism</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Shoshana Zuboff</h5>
            <p class="card-text">An enticing but dense book detailing the quest of powerful technology companies to predict and control our behavior.<span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41tmqEUIbSL._SX329_BO1,204,203,200_.jpg" alt="New York 2140">
          <div class="card-body">
            <h4 class="card-title">Bad Blood</h4>
                    <h5 class="card-subtitle mb-2 text-muted">John Carreyrou</h5>
            <p class="card-text">Awesome investigative journalism piece detailing the rise and fall of the fraudulent silicon valley blood testing startup Theranos.<span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://img1.od-cdn.com/ImageType-400/0887-1/D38/832/0F/%7BD388320F-E8BF-48A0-B0E7-A2FA62042C59%7DImg400.jpg" alt="New York 2140">
          <div class="card-body">
            <h4 class="card-title">New York 2140</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Kim Stanley Robinson</h5>
            <p class="card-text">Great futurist novel that anyone with knowledge of New York City should enjoy.  Robinson paints a believable picture of the city––complete with its financiers, cops, celebrities, and hoodrats––in a future where the sea level has risen fifty feet.  <span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://i.harperapps.com/covers/9780062190376/y648.jpg" alt="How to Change Your Mind">
          <div class="card-body">
            <h4 class="card-title">Seveneves</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Neal Stephenson</h5>
            <p class="card-text">This is an excellent hard science fiction novel that opens up with the moon exploding.  This explosion sets the scene for an apocolypse that necessitates the building of a space colony initially tethered to the international space station.  Worth the read if you're interested in orbital mechanics, genomics, robotics, or space.  <span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/How_to_change_your_mind_pollan.jpg/220px-How_to_change_your_mind_pollan.jpg" alt="How to Change Your Mind">
          <div class="card-body">
            <h4 class="card-title">How to Change Your Mind</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Michael Pollan</h5>
            <p class="card-text">This book dives into the research and personalities behind the science of mind altering chemicals, most notibly Psilocybin and LSD. <span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>

        <a href="http://phrontistery.info/">
          <div  class="card" style="max-width: 100%;">
            <div class="card-header">
              <strong>The Phrontistery</strong>
            </div>
            <div class="card-body">
                      <h5 class="card-subtitle mb-2 text-muted">Expand your vocabulary</h5>
              <p class="card-text">This is a compilation of chrestomathic words.</p>
            </div>
          </div>
        </a>

        <div class="card" style="max-width: 100%;">
          <img class="card-img-top" src="https://images.gr-assets.com/books/1427728884l/23251016.jpg" alt="Zero to One">
          <div class="card-body">
            <h4 class="card-title">Zero to One</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Blake Masters and Peter Thiel</h5>
            <p class="card-text">This a great read for anyone interested startups, entrepreneurship, or internet technology. <span class="badge badge-success">&#10000; READ IT</span></p>
          </div>
        </div>
        <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/industries_future.jpg" | absURL }}" alt="The Industries of the Future">
           <div class="card-body">

             <h4 class="card-title">The Industries of the Future</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Alec Ross</h5>
             <p class="card-text">An excellent look at the worlds shifting economies.  Focus on robotics, machine learning, code-ification of money, big data, and other industries. <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/stealing_fire.jpg" | absURL }}" alt="Stealing Fire">
           <div class="card-body">

             <h4 class="card-title">Stealing Fire</h4>
             <h5 class="card-title">How Silicon Valley, the Navy SEALs, and Maverick Scientists Are Revolutionizing the Way We Live and Work</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Jamie Wheal and Steven Kotler</h5>
             <p class="card-text">Well written and researched book about flow states, ecstasis, and neurohacking.  <span class="badge badge-success">&#10000; READ IT</span> </p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/Change_Agent.jpg" | absURL }}" alt="Change Agent">
           <div class="card-body">
             <h4 class="card-title">Change Agent</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Daniel Suarez</h5>
             <p class="card-text">Killer piece of futurist fiction that plays on gene editing, blockchain, and other soon to be technological realities.  Was able to smash this book in three days.  <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/sapiens.jpg" | absURL }}" alt="Sapiens">
           <div class="card-body">
             <h4 class="card-title">Sapiens: A Brief History of Humankind.  </h4>
               <h5 class="card-subtitle mb-2 text-muted">Yuval Noah Harari</h5>
             <p class="card-text">A great overview of humanity and something to get you thinking about humanism, religion, economics, and philosophy.  <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/homo_deus.jpg" | absURL }}" alt="Homo Deus">
           <div class="card-body">
             <h4 class="card-title">Homo Deus: A Brief History of Tomorrow</h4>
               <h5 class="card-subtitle mb-2 text-muted">Yuval Noah Harari</h5>
             <p class="card-text">How do we stay relevent in a future dominated by computers? Exciting, but frightening at times, Harari's depiction of what may be in store for humanity is vivid and based in real philosophy, science, and technology.  A must read.  <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/Parasite_Rex.jpg" | absURL }}" alt="Parasite Rex">
           <div class="card-body">
             <h4 class="card-title">Parasite Rex.  </h4>
                     <h5 class="card-subtitle mb-2 text-muted">Carl Zimmer</h5>
             <p class="card-text">I read this book while traveling through India... A phenomenal depiction of the bizarre world of parasites.  Why parasites truly rule the world as we know it. <span class="badge badge-warning">&#10000; THINK ABOUT IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/command_line.jpg" | absURL }}" alt="Command Line">
           <div class="card-body">
             <h4 class="card-title">In the Beginning...was the Command Line</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Neal Stephenson</h5>
             <p class="card-text">Quick read that will get you thinking about switching for Mac/Windows over to Linux. This book is a bit outdated, but still a great read for those interested in computers.  <span class="badge badge-warning">&#10000; THINK ABOUT IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/sex_at_dawn.jpg" | absURL }}" alt="Sex at Dawn">
           <div class="card-body">
             <h4 class="card-title">Sex at Dawn  </h4>
                     <h5 class="card-subtitle mb-2 text-muted">Christopher Ryan</h5>
             <p class="card-text">A new classic which argues that humans are instinctively not monogomous creatures.  Have we evolved to be sluts?  <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/principles_dalio.jpg" | absURL }}" alt="Principles">
           <div class="card-body">
             <h4 class="card-title">Principles: Life and Work  </h4>
                     <h5 class="card-subtitle mb-2 text-muted">Ray Dalio</h5>
             <p class="card-text">Not sure if I will get through this one, as I'm not a fan of Ray Dalio's writing style.  His principles are apparently quite effective though, and Dalio is an extremely successful fund manager.  <span class="badge badge-danger">&#10000; SKIP IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/superior_man.png" | absURL }}" alt="Way of the Superior Man">
           <div class="card-body">
             <h4 class="card-title">The Way of the Superior Man</h4>
                     <h5 class="card-subtitle mb-2 text-muted">David Deida</h5>
             <p class="card-text">A silly, yet highly applicable read that discusses the nature of the male and female polarity and outlines a path for successfully navigating through romantic relationships.  <span class="badge badge-warning">&#10000; THINK ABOUT IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/checklist_manifesto.jpg" | absURL }}" alt="Checklist Manifesto">
           <div class="card-body">
             <h4 class="card-title">The Checklist Manifesto: How to Get Things Right.  </h4>
                     <h5 class="card-subtitle mb-2 text-muted">Atul Gawande</h5>
             <p class="card-text">A nifty little book that discusses how something as simple as a checklist is saving lives in operating rooms around the world. Checklists can be applied to a wide range of professions and can ensure that simple mistakes are a thing of the past.  <span class="badge badge-warning">&#10000; THINK ABOUT IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/cutting_through.jpg" | absURL }}" alt="Cutting Through Spiritual Materialism">
           <div class="card-body">
             <h4 class="card-title">Cutting Through Spiritual Materialism.  Chögyam Trungpa</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Chögyam Trungpa</h5>
             <p class="card-text">A lovely collection of talks from Trungpa, illustrating that spirutality can be hijacked for selfish purposes...and it often is in the west. <span class="badge badge-warning">&#10000; THINK ABOUT IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/undoing_project.jpg" | absURL }}" alt="The Undoing Project">
           <div class="card-body">
             <h4 class="card-title">The Undoing Project</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Michael Lewis</h5>
             <p class="card-text">An intimate look at the lives and work of Danny Khaneman and Amos Tversky, who together published a number of seminal works on decision making and heuristics in judgement.  <span class="badge badge-success">&#10000; READ IT</span></p>
           </div>
         </div>

         <div class="card"  style="max-width: 100%;">
           <img class="card-img-top" src="{{ "img/books/proof_of_heaven.jpg" | absURL }}" alt="Proof of Heaven">
           <div class="card-body">
             <h4 class="card-title">Proof of Heaven: A Neurosurgeons Journey Into the Afterlife</h4>
                     <h5 class="card-subtitle mb-2 text-muted">Eben Alexander, MD</h5>
             <p class="card-text">A quick read depicting a neurosurgeons near death experience (NDE).  Bridges science and spirituality.  Author has a bit of a god complex...  <span class="badge badge-danger">&#10000; SKIP IT</span></p>
           </div>
         </div>

         <div class="card" style="max-width: 100%;">
             <div class="card-body">
                 <h4 class="card-title">Reccommend a book!</h4>
                 <form action="https://formspree.io/WILEYMCKAYCONTE@GMAIL.COM"
       method="POST" class="needs-validation " novalidate>
             <div class="form-group">
               <label for="Book Info">What are you reading?</label>
               <input type="text" name="bookInfo" class="form-control" id="bookInfo" aria-describedby="bookInfo" placeholder="Book Title &amp; Author">
               <small id="emailHelp" class="form-text text-muted">Feel free to suggest a book you've never read but feel that I may enjoy.</small>
             </div>
               <button name="Submit" id="submit" class="btn btn-primary" value="Send">Submit</button>
             </form>
           </div>
        </div>
  </div>
</div>

<style>
body {
  padding: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}
#submit {
  background-color: #5188ef !important;
}
#submit:hover {
  background-color: #51ef7e !important;
}

</style>

  {{ partial "footer" . }}
{{ end }}
